  <div class="panel panel-default" ng-repeat="product in products">
    <div class="panel-heading">
        <div class="pull-right">
            <a href="" class="btn btn-success btn-xs" ui-sref="^.editproduct({ productId: product.id })"
               title="{{ 'Edit product' | translate }}"><i class="fa fa-pencil"></i></a>
            <a href="" class="btn btn-danger btn-xs" ng-click="deleteproduct({ id: product.id })"
               title="{{ 'Delete product' | translate }}"><i class="fa fa-trash-o"></i></a>
        </div>
        <h3 class="panel-title">{{ product.name }}

          </h3>
    </div>
      <div class="panel-body">
     <P>{{ product.note }}</P>

    </div>

</div>

